@import '../settings.scss';

body {
  background: linear-gradient(180deg, rgb(3, 144, 163), rgb(0, 38, 48))
    no-repeat center center fixed;
  background-size: cover;
}

.login__container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
}

.switchVersion {
    position: inherit;
    right:0;
    font-weight: 500;
    background: rgb(0, 0, 49);
    padding:0.3rem 0.4rem;
    font-size: 13px;
    top:-36px;
>a{
    color: white;
    display: flex;
    >svg {
        margin: 0 0.4rem;
    }
}

}
.switchVersion--icon {
    position: relative;
    color: $logoColor;
    font-weight: 700;
    font-size: 20px;
    top:-4px;
}



.login__container--left {
  background: linear-gradient(90deg, navy, black);
  padding: 16.5rem 3.2rem;
  color: $logoColor;
  letter-spacing: 0.4rem;
  text-align: center;
  text-indent: 0.4rem;
  font-size: 3rem;
  font-family: $OpenSans;
}

.login__container--right {
  background: $off-white;
    padding: 1rem 2rem;
}

.form__container {
    width: 18rem;
}

.form--greetings {
  margin: 2.8rem 0 2.4rem 0;
  display: flex;
  flex-direction: column;
  > span:nth-child(1) {
    //sign in
    text-transform: uppercase;
    font-size: 12px;
    color: grey;
    font-family: $OpenSans;
  }
  > span:nth-child(2) {
    //welcome
    font-size: 26px;
    color: navy;
    font-family: $OpenSans;
  }
}

.form {
  display: flex;
  flex-direction: column;
}

.input--label { //wraps the label and the input
  padding: 0 0 0.3rem 0;
  margin: 1.9rem 0 0 0;
  font-size: 13px;
  color:grey;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid $greyBorder;

}

.input--field {
    margin: 0.3rem 0 0 0;
    padding: 0.2rem;
  border: none; //reset the border to put a bottom border only
  &:active,
  &:focus {
    outline: none;
    background: $inputBlue;
  }
}

.form__help {
  margin: 2rem 0;
  display: flex;
  justify-content: space-between;
}

.form__help--remember {
    font-size: 16.5px;
    >input { //checkbox
        margin: 0 0 0 0.5rem;
    }
    >a{ //forgot password
        font-size: 14px;
    }
}

.form__termsandconds {
    font-size: 14px;
    >input { //checkbox
        margin: 0 0.3rem 0 0;
    }
}

.form--button {
    margin: 2rem 0 0 0 ;
    padding: 1rem 3rem;
    border: none;
    color: white;
    background: $buttonColor;
    font-size: 14px;
    letter-spacing: 1px;
    border-radius: 5px;
}

.signup {
    position: inherit;
    bottom: -32px;
    right:0; //bring it to bottom right
    color: white;
    font-family: $Poppins;
    font-size: 13px;
    >a{
        color:rgb(126, 126, 0);
        text-transform: uppercase;
    }
}
