@import '../settings.scss';
.section__form {
  margin: 6.4rem 0.6rem 0 0;
  display: flex;
  flex-wrap: wrap;
  > input,
  select,
  textarea {
    margin: 1.2rem 0.6rem 0 0.6rem; //separator between inputs
    padding: 1rem;
    flex-basis: 45%;
    border: none;
    border-bottom: 1px solid $greyBorder;
    &:active,
    &:focus {
      outline: none;
      border-bottom: 2px solid black !important;
    }
  }
  > div > input {
    //this targets the additional form when user inputs a position
    margin: 1.2rem 0.6rem 0 0.6rem; //separator between inputs
    padding: 1rem 3.6rem 1rem 0;
    border: none;
    border-bottom: 1px solid $greyBorder;
    &:active,
    &:focus {
      outline: none;
      border-bottom: 2px solid black !important;
    }
  }
  .additionalPositions {
    font-size: 12px;
    color: grey;
    > input {
      //targetting the checkboxes
      margin: 0 0.2rem 0 1rem;
    }
  }
}

.section__form--button {
  @extend .form--button;
  margin: 2.4rem 5rem 0 0; //aligning with the form
  padding: 0.6rem 1.6rem;
  float: right; //positioned to the right
}

.team__table {
  margin: 7.2rem 1.2rem 0 1.2rem;
}

.team__table--header {
  @extend .sameWidthTable;
  color: white;
  background-color: rgb(0, 0, 128, 0.8);
}
.team__table--body {
  @extend .sameWidthTable;
  padding: 0.8rem 0;
  background-color: rgba(37, 37, 117, 0.5);
  border-bottom: 1px solid $greyBorder;
  &:hover {
    background-color: rgba(37, 37, 117, 0.7);
    transition: background-color 150ms ease-in;
  }
  &:not(:hover) {
    transition: background-color 150ms ease-in;
  }
}
