@import url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap);
//variables for scss
$OpenSans: 'Open Sans', sans-serif; //titles
$Poppins: 'Poppins', sans-serif; //text, link

//colores
$off-white: #f7f7f7;
$inputBlue: rgb(171, 171, 255, 0.2);
$greyBorder: rgb(59, 59, 59, 0.6);
$logoColor: rgb(0, 189, 189);
$buttonColor: rgb(88, 193, 197);
$grey: rgb(170, 170, 170);
//dev variables
$border: 1px solid white;
$border2: 1px solid black;
