//imports
@import './components/Menu';
@import './components/LoginPage';
@import './components/Dashboard';
@import './components/Table';
@import './components/Registration';
@import './components/RegistrationForm';
@import './components/Filter';
//general settings
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a,
a:visited,
a:focus,
a:active {
  text-decoration: none;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
